@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Rubik&display=swap');
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: Rubik, Roboto, Verdana, Helvetica, sans-serif;
}

.dialog {
  background: #FFC ;
  color: #3333ac ;
  padding: 4px ;
  box-shadow: 4px 2px 6px gray ;
  border: 1px solid black ;
}

.dialog h3 { 
  margin: 2px 0 8px 0 ; 
  padding: 4px ; 
  text-align: center;
  color: #FFC; 
  background: black ; 
  user-select: none;
}

label { font-size: -2 ; color: #555; text-transform: uppercase capitalize;}
label.tiny { color: gray ; font-size: x-small ; user-select:  none ;}
label.small { color: gray ; font-size: small; width: fit-content ; user-select: none;}
input[type=text], input[type=number] {
  padding : 4px ;
  border : thin solid gray ;
  box-shadow: 2px 2px 3px silver ;
}
  p { padding: 3px; margin: 0  }


.upcase { text-transform: uppercase ;}



a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}
/*
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}
*/
input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

  @keyframes show {
    from {
      transform: scale(0.1,0.1) ;
      opacity: 0;
      z-index: -1;
    }
    to {
      transform: scale(1) ;
      opacity: 1 ;
      z-index: 3 ;
    }
  }
  @keyframes hide {
    from {
      transform: scale(1) ;
      opacity: 1 ;
      z-index: 3 ;
    }
    to {
      transform: scale(0) ;
      opacity: 0;
      z-index: -1;
    }
  }